
/* team member */
.team_member {

    height: minmax(20px, 80px);
    width: calc(100% - 20px);

    margin: 5px;
    padding: 5px;

    float: top;

    background-color: rgb(90, 90, 90, 0);
    color: white;

    border: 0px;

    font-family: monospace;
    text-align: left;
    text-overflow: clip;
    user-select: none;
}

.team_member:hover {

    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;

}